<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">صفحات</div>
                <a class="nav-link" href="/dashboard">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    داشبورد
                </a>
                <a class="nav-link" href="/add-article">
                    <div class="sb-nav-link-icon"><i class="fas fa-plus"></i></div>
                    افزودن مقاله
                </a>
                <a class="nav-link" href="/trash">
                    <div class="sb-nav-link-icon"><i class="fas fa-trash"></i></div>
                    سطل زباله
                </a>
                <a class="nav-link" href="/logout">
                    <div class="sb-nav-link-icon"><i class="fas fa-sign-out"></i></div>
                    خروج
                </a>
            </div>
        </div>
    </nav>
</div>