<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>سطل زباله</title>
        <!-- <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" /> -->
        <link href="{{ url_for('static', filename = 'styles2.css') }}" rel="stylesheet" />
        <!-- <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script> -->
    </head>
    <body class="sb-nav-fixed">
        {% include('panel_top_menu.html') %}
        <div id="layoutSidenav">
            {% include('panel_sidebar.html') %}
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">سطل زباله</h1><br>
                        {% include 'show_flashed_messages.html' %}
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-trash"></i>
                                مقالات حذف شده
                            </div>
                            <div class="card-body">
                                {% if not all_articles %}
                                    <div style="direction: rtl;">مقاله ای یافت نشد!</div>
                                {% else %}
                                    <table id="datatablesSimple">
                                        <thead>
                                            <tr>
                                                <th>ردیف</th>
                                                <th>نام</th>
                                                <th>تصویر</th>
                                                <th>دسته بندی</th>
                                                <th>تاریخ ایجاد</th>
                                                <th>تاریخ حذف</th>
                                                <th>عملیات</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for id in all_articles %}
                                                <tr>
                                                    <td>{{ id }}</td>
                                                    <td>{{ all_articles[id][1] }}</td>
                                                    <td>{{ all_articles[id][2] }}</td> <!-- TODO: Show article image here -->
                                                    <td>{{ all_articles[id][4] }}</td>
                                                    <td>{{ all_articles[id][5] }}</td>
                                                    <td>{{ all_articles[id][7] }}</td>
                                                    <td>
                                                        <a href="/restore-article-from-trash/{{ all_articles[id][0] }}" class="btn btn-success">بازگرداندن</a>
                                                        <button class="btn btn-danger" cursor="pointer" onclick="if(confirm('آیا از حذف کامل این مقاله مطمئن هستید؟')){window.location.href='/delete-article/{{ all_articles[id][0] }}';}">حذف کامل</button>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <!-- <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script> -->
        <script src="{{ url_for('static', filename = 'datatables-simple-demo.js') }}"></script>
    </body>
</html>
