<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>ویرایش مقاله: {{ article[1] }}</title>
        <!-- <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" /> -->
        <link href="{{ url_for('static', filename = 'styles2.css') }}" rel="stylesheet" />
        <!-- <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script> -->
    </head>
    <body class="sb-nav-fixed">
        {% include('panel_top_menu.html') %}
        <div id="layoutSidenav">
            {% include('panel_sidebar.html') %}
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4" style="direction: rtl;">ویرایش مقاله: {{ article[1] }}</h1><br>
                        {% include 'show_flashed_messages.html' %}
                        <div class="card mb-4">
                            <div class="card-header"> <!-- TODO: set direction rtl -->
                                <i class="fas fa-edit"></i>
                                ویرایش مقاله: {{ article[1] }}
                            </div>
                            <div class="card-body" style="direction: rtl;">
                                <form action="/update-article/{{ article[0] }}" method="POST" enctype="multipart/form-data">
                                    <input type="text" name="name" placeholder="نام مقاله" class="form-control" value="{{ article[1] }}" required><br><br>
                                    <textarea name="description" cols="103" rows="10" placeholder="توضیحات مقاله" class="form-control" required>{{ article[3] }}</textarea><br><br>
                                    {{ article[2] }}<!-- <img src="../images/{{ article[2] }}" alt=""> TODO: show image here --><br><br>
                                    <label>
                                        <b>آپلود تصویر: </b><input type="file" name="image">
                                    </label><br><br>
                                    {% if categories %}
                                    <select name="category" required>    
                                        {% for category in categories %}
                                            <option value="{{ category[0] }}"
                                            {% if article[4] == category[0] %}
                                                selected
                                            {% endif %}
                                            >{{ category[1] }}</option>
                                        {% endfor %}
                                    </select><br><br>
                                    {% endif %}
                                    <input type="submit" value="ویرایش" class="btn btn-warning" style="color: white;">
                                </form>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <!-- <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script> -->
    </body>
</html>
