<!DOCTYPE html>
<html dir="rtl" lang="fa">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{{ article[1] }}</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet" />
    </head>
    <body>
        {% include('top_menu.html') %}
        <!-- Page content-->
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-8">
                    <!-- Post content-->
                    <article>
                        <!-- Post header-->
                        <header class="mb-4">
                            <!-- Post title-->
                            <h1 class="fw-bolder mb-1">{{ article[1] }}</h1>
                            <!-- Post meta content-->
                            <div class="text-muted fst-italic mb-2">{{ article[5] }}</div>
                            <!-- Post categories-->
                            <a class="badge bg-secondary text-decoration-none link-light" href="/?category_id={{ article[0] }}">{{ article_category[1] }}</a>
                        </header>
                        <!-- Preview image figure-->
                        <figure class="mb-4"><img class="img-fluid rounded" src="https://dummyimage.com/900x400/ced4da/6c757d.jpg" alt="..." /></figure>
                        {{ article[3] }}
                        <br><br>
                    </article>
                    <!-- Comments section-->
                    <section class="mb-5">
                        <div class="card bg-light">
                            <div class="card-body">
                                <!-- Comment form-->
                                <form action="/add-comment/{{ article[0] }}" method="POST" class="mb-4">
                                    <h2 id="send_comment">ارسال کامنت</h2><br>
                                    {% if answer_to_comment %}
                                        <input type="hidden" name="answer_to" value="{{ answer_to_comment }}">
                                    {% endif %}
                                    {% if show_commenter_name_input %}
                                        <input type="text" name="name" placeholder="نام خود را وارد کنید." class="form-control" required><br>
                                    {% endif %}
                                    <textarea class="form-control" name="comment" rows="3" placeholder="متن کامنت خود را وارد کنید." required></textarea><br>
                                    <input type="submit" value="ارسال" class="btn btn-success">
                                    <!-- <button type="submit" class="btn btn-success"><i class="fas fa-paper-plane-o"></i></button> TODO: create it -->
                                </form><hr>
                                <h2>کامنت ها</h2><br>
                                {% if comments %}
                                    {% for comment in comments %}
                                        <div class="d-flex" id="comment_{{ comment[0] }}">
                                            <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                            <div class="ms-3">
                                                <div class="fw-bold">{{ comment[1] }}
                                                    {% if comment[4] %}
                                                        (در پاسخ به: <a style="text-decoration: none;" href="#comment_{{ comment[4] }}">{{ comment[6] }}</a>)
                                                    {% endif %}
                                                    [<a href="/single-page/{{ article[0] }}?answer_to={{ comment[0] }}#send_comment" style="text-decoration: none;">پاسخ دادن</a>]
                                                    <div class="text-muted fst-italic mb-2">{{ comment[5] }}</div>
                                                </div>
                                                {{ comment[2] }}
                                            </div>
                                        </div><br>
                                    {% endfor %}
                                    <div id="end_comments"></div>
                                {% else %}
                                    کامنتی یافت نشد!
                                {% endif %}
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        {% include 'footer.html' %}
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{{ url_for('static', filename='scripts.js') }}"></script>
    </body>
</html>
