DATABASE_PATH = 'put your database path'

SITE_TITLE = 'put your site title.'

SECRET_KEY = 'put your secret key here.'

FIRST_OF_SESSIONS = 'put your first of your site sessions.'

ADMIN_USERNAME = 'put your admin username here.'

ADMIN_PASSWORD = 'put your admin password here.'

ALLOWED_FILES_EXTENSIONS = ['jpeg', 'jpg', 'png', 'gif']

UPLOAD_FOLDER = './images/' # You can put your upload folder here.
